.about-content{
    margin-top: 20px;
    width: auto;
    height: auto;
    border-radius: 3px;
    background: rgb(220, 234, 247);
    box-shadow: 1px 1px 0 rgb(133, 133, 133);
    padding : 15px;
}